In [41]:
%run EEG_auxiliary_module.ipynb
%run general_tools.ipynb

folder = '/Users/dannem/Documents/Ilya_study/Analysis'
import numpy as np
import pandas as pd
perc_ind=['02','03','04','05','06','07','08']
imag_ind=['02','03','04','05','06','07','08']
perc_file=[folder+'/conf_mat_perc_'+ i +'.csv' for i in perc_ind]
imag_file=[folder+'/conf_IR_'+ i +'_imag.csv' for i in perc_ind]
data = load_multiple_conf_mats(folder, perc_file, imag_file)
perc_list = data[0]
imag_list = data[1]

In [52]:
subject = 6
mat = inter_sub_corr(perc_list[subject], imag_list[subject])

Correlation between upright percieved and imagary discrimination is 0.65
Correlation between inverted percieved and imagary discriminations is 0.11
Correlation between imagery and TO 0.60
Correlation between upright percieved and TO discriminations is 0.06
Correlation between inverted percieved and TO discriminations is 0.16
Correlation between unfamiliar upright percieved and TO discriminations is -0.00
Correlation between famous upright percieved and TO discriminations is 0.07
Correlation between unfamiliar inverted percieved and TO discriminations is 0.25
Correlation between famous inverted percieved and TO discriminations is 0.10

In [53]:
mat.iloc[:5,:5]

          est       mcy       sjo       sgo       tsw
est  0.000000  0.625000  0.583333  0.500000  0.500000
mcy  0.625000  0.000000  0.666667  0.291667  0.500000
sjo  0.583333  0.666667  0.000000  0.583333  0.833333
sgo  0.500000  0.291667  0.583333  0.000000  0.500000
tsw  0.500000  0.500000  0.833333  0.500000  0.000000

In [14]:
from scipy.spatial.distance import squareform
perc_up_arr =  np.array([squareform(i.values[:50,:50]) for i in perc_list])
perc_in_arr =  np.array([squareform(i.values[50:,50:]) for i in perc_list])
perc_up_fam_arr =  np.array([squareform(i.values[25:50,25:50]) for i in perc_list])
perc_up_unf_arr =  np.array([squareform(i.values[:25,:25]) for i in perc_list])
perc_in_fam_arr =  np.array([squareform(i.values[75:,75:]) for i in perc_list])
perc_in_unf_arr =  np.array([squareform(i.values[50:75,50:75]) for i in perc_list])
imag_arr =  np.array([squareform(i.values) for i in imag_list])

In [15]:
perc_up_corr = pd.DataFrame(np.corrcoef(perc_up_arr))
perc_in_corr = pd.DataFrame(np.corrcoef(perc_in_arr))
perc_up_unf_corr = pd.DataFrame(np.corrcoef(perc_up_unf_arr))
perc_up_fam_corr = pd.DataFrame(np.corrcoef(perc_up_fam_arr))
perc_in_unf_corr = pd.DataFrame(np.corrcoef(perc_in_unf_arr ))
perc_in_fam_corr = pd.DataFrame(np.corrcoef(perc_in_fam_arr))
imag_corr = pd.DataFrame(np.corrcoef(imag_arr))

In [16]:
perc_up_corr

          0         1         2         3         4         5         6
0  1.000000  0.060996  0.060996  0.057588  0.228927  0.025635 -0.040216
1  0.060996  1.000000  1.000000 -0.029934  0.097492  0.075999  0.046689
2  0.060996  1.000000  1.000000 -0.029934  0.097492  0.075999  0.046689
3  0.057588 -0.029934 -0.029934  1.000000  0.059439  0.026355  0.035927
4  0.228927  0.097492  0.097492  0.059439  1.000000  0.068791 -0.100654
5  0.025635  0.075999  0.075999  0.026355  0.068791  1.000000  0.069791
6 -0.040216  0.046689  0.046689  0.035927 -0.100654  0.069791  1.000000

In [12]:
perc_in_corr

          0         1         2         3         4         5         6
0  1.000000 -0.035431  0.124896 -0.043013  0.047155  0.131023  0.068421
1 -0.035431  1.000000  0.022096  0.016085 -0.002953  0.059956 -0.031613
2  0.124896  0.022096  1.000000 -0.030916  0.058860  0.093680  0.065841
3 -0.043013  0.016085 -0.030916  1.000000  0.025697  0.096851  0.016454
4  0.047155 -0.002953  0.058860  0.025697  1.000000  0.047586  0.030534
5  0.131023  0.059956  0.093680  0.096851  0.047586  1.000000  0.169080
6  0.068421 -0.031613  0.065841  0.016454  0.030534  0.169080  1.000000

In [13]:
imag_corr

          0         1         2         3         4         5         6
0  1.000000  0.418771 -0.022985 -0.602171  0.263539 -0.119000  0.064072
1  0.418771  1.000000  0.178907 -0.140307 -0.353339  0.227504  0.503583
2 -0.022985  0.178907  1.000000  0.378357  0.030360  0.844462  0.771828
3 -0.602171 -0.140307  0.378357  1.000000 -0.259828  0.379999  0.424642
4  0.263539 -0.353339  0.030360 -0.259828  1.000000 -0.061942 -0.155052
5 -0.119000  0.227504  0.844462  0.379999 -0.061942  1.000000  0.829559
6  0.064072  0.503583  0.771828  0.424642 -0.155052  0.829559  1.000000

In [14]:
perc_up_unf_corr

          0         1         2         3         4         5         6
0  1.000000  0.153483  0.042715  0.113937  0.091568  0.190900 -0.057921
1  0.153483  1.000000 -0.104924  0.051418  0.209735  0.166941  0.120858
2  0.042715 -0.104924  1.000000 -0.093882 -0.039718 -0.029332 -0.032426
3  0.113937  0.051418 -0.093882  1.000000 -0.029436  0.110593 -0.061881
4  0.091568  0.209735 -0.039718 -0.029436  1.000000 -0.035611  0.100327
5  0.190900  0.166941 -0.029332  0.110593 -0.035611  1.000000  0.098622
6 -0.057921  0.120858 -0.032426 -0.061881  0.100327  0.098622  1.000000

In [15]:
perc_up_fam_corr

          0         1         2         3         4         5         6
0  1.000000  0.005697  0.111427  0.128851  0.203457 -0.069651 -0.055618
1  0.005697  1.000000  0.012623 -0.018418 -0.084685 -0.030507 -0.122405
2  0.111427  0.012623  1.000000  0.093640 -0.030348 -0.001215  0.078687
3  0.128851 -0.018418  0.093640  1.000000 -0.048465  0.000165 -0.062339
4  0.203457 -0.084685 -0.030348 -0.048465  1.000000 -0.026687 -0.115525
5 -0.069651 -0.030507 -0.001215  0.000165 -0.026687  1.000000  0.045104
6 -0.055618 -0.122405  0.078687 -0.062339 -0.115525  0.045104  1.000000

In [16]:
perc_in_unf_corr

          0         1         2         3         4         5         6
0  1.000000 -0.167738  0.049839  0.045763  0.129536  0.106832  0.091105
1 -0.167738  1.000000  0.084308  0.146160  0.098686  0.095549 -0.062131
2  0.049839  0.084308  1.000000 -0.014986  0.081238  0.128796  0.206205
3  0.045763  0.146160 -0.014986  1.000000 -0.006472  0.067229  0.016136
4  0.129536  0.098686  0.081238 -0.006472  1.000000  0.106458  0.055273
5  0.106832  0.095549  0.128796  0.067229  0.106458  1.000000  0.277147
6  0.091105 -0.062131  0.206205  0.016136  0.055273  0.277147  1.000000

In [17]:
perc_in_fam_corr

          0         1         2         3         4         5         6
0  1.000000 -0.037970  0.190770 -0.055644  0.050971  0.072351 -0.003384
1 -0.037970  1.000000 -0.114183 -0.021443 -0.066334  0.070336  0.007699
2  0.190770 -0.114183  1.000000  0.062843  0.069038  0.109726 -0.129778
3 -0.055644 -0.021443  0.062843  1.000000 -0.026957  0.225706 -0.048885
4  0.050971 -0.066334  0.069038 -0.026957  1.000000  0.034411 -0.060848
5  0.072351  0.070336  0.109726  0.225706  0.034411  1.000000  0.007306
6 -0.003384  0.007699 -0.129778 -0.048885 -0.060848  0.007306  1.000000